<!-- Adicionamos uma verificação simples para garantir que o id existe -->
<div class="pokemon-card" *if="id" [ngClass]="'bg-type-' + id">
  
  <span class="pokemon-card__id">#{{ id | number:'3.0-0' }}</span>

  <div class="pokemon-card__image-container">
    <img [src]="getPokemonImage(id)" [alt]="nome" class="pokemon-card__img">
  </div>

  <div class="pokemon-card__content">
    <h3 class="pokemon-card__name">{{ nome }}</h3>
    <div class="pokemon-card__types">
      <span class="type-badge">Pokémon</span>
    </div>
  </div>
</div>