<div class="pokemon-card" *ngIf="pokemon">
  <span class="pokemon-id">#{{ pokemon.id | number:'3.0-0' }}</span>
  
  <div class="image-wrapper">
    <img 
      [src]="pokemon.sprites.other['official-artwork'].front_default" 
      [alt]="pokemon.name"
      loading="lazy"
    >
  </div>

  <div class="card-info">
    <h3 class="pokemon-name">{{ pokemon.name }}</h3>
    
    <div class="types-row">
      <span 
        *ngFor="let slot of pokemon.types" 
        [class]="'type-label ' + slot.type.name"
      >
        {{ slot.type.name }}
      </span>
    </div>
  </div>
</div>