.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-vh: 100vh;

  .pokemon-grid {
    display: grid;
    // Cria colunas de no mínimo 200px que se distribuem sozinhas
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin-top: 24px;
  }
}